<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FROZ.Properties.Settings.CONEXION" connectionString="Data Source=ANGEL;Initial Catalog=FROZ2;Persist Security Info=True;User ID=1314844216;Password=1314844216"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>